<app-employeedashboard></app-employeedashboard>
<body>
    <div class="container">
        <u><h2>Fund Transfer</h2></u><br><br>

        <form #fundTransferForm="ngForm" (ngSubmit)="transferFunds(fundTransferForm)">
          <div class="form-group">
            <label for="senderAccount">Sender Account =></label>
            <input type="text" id="senderAccount" name="senderAccount" ngModel required>
          </div>
         <br>

          <div class="form-group">
            <label for="receiverAccount">Receiver Account =></label>
            <input type="text" id="receiverAccount" name="receiverAccount" ngModel required>
          </div>
         
<br>
          <div class="form-group">
            <label for="amount">Amount to be transferred =></label>
            <input type="number" id="amount" name="amount" ngModel required>
          </div>
          <br><br>

          <div class="form-group">
          <button type="submit" [disabled]="fundTransferForm.invalid"> <b>Transfer Funds</b> </button>
        </div>

        </form>
      </div>
    </body>
