<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-5">
 <div class="card bg-light mb-20" style="max-width: 80rem;">
  <h5 class="card-header bg-primary text-white">Create Profile</h5>
  <div class="card-body">
  <br>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <div class="form-group">
      <div class="row">
<div class="col">
      
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" ngModel required #firstName="ngModel">
      <div *ngIf= "firstName.invalid && (firstName.dirty || firstName.touched)" >
      <!-- <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched)" class="error"> -->
        <div *ngIf= "signupForm.controls['firstName'].errors?.['required']">First Name is required.</div>
      </div>
    </div>
    <div class="col">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" ngModel required #lastName="ngModel">
      <div *ngIf= "lastName.invalid && (lastName.dirty || lastName.touched)" >
      <!-- <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty || signupForm.controls['firstName'].touched)" class="error"> -->
        <div *ngIf= "signupForm.controls['lastName'].errors?.['required']">Last Name is required.</div>
      </div>
    </div> 
  </div>
  </div>
  <br>
    <!-- Other form fields -->
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="address" ngModel required #address="ngModel">
      <div *ngIf= "firstName.invalid && (firstName.dirty || firstName.touched)" >
      <!-- <div *ngIf="signupForm.controls['address'].invalid && (signupForm.controls['address'].dirty || signupForm.controls['address'].touched)" class="error"> -->
        <div *ngIf= "signupForm.controls['address'].errors?.['required']">Address is required.</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="date" class="form-control" id="dob" name="dob" ngModel required #dob="ngModel">
      <div *ngIf= "dob.invalid && (dob.dirty || dob.touched)" >
      <!-- <div *ngIf="signupForm.controls['dob'].invalid && (signupForm.controls['dob'].dirty || signupForm.controls['dob'].touched)" class="error"> -->
        <div *ngIf= "signupForm.controls['dob'].errors?.['required']">Date of Birth is required.</div>
      </div>
    </div>
 <br>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" ngModel required #email="ngModel" >
      <!-- <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" class="error"> -->
        <div *ngIf= "email.invalid && (email.dirty || email.touched)" >
        <div *ngIf= "signupForm.controls['email'].errors?.['required']">Email is required.</div>
        <div *ngIf= "signupForm.controls['email'].errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" ngModel required pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()_+=]).{8,}" #password="ngModel">
      <div *ngIf= "password.invalid && (password.dirty || password.touched)" >
        <div *ngIf= "signupForm.controls['password'].errors?.['required']">Password is required.</div>
        <div *ngIf= "signupForm.controls['password'].errors?.['pattern']">Invalid Password format.</div>
      </div>
    </div>
 <br>

    <!-- Other form fields -->
    <div class="form-group">
      <label for="aadharNumber">Aadhar Number</label>
      <input type="text" class="form-control" id="aadharNumber" name="aadharNumber" ngModel required pattern="[0-9]{12}" #aadharNumber="ngModel">
      <div *ngIf= "aadharNumber.invalid && (aadharNumber.dirty || aadharNumber.touched)" >
      <!-- <div *ngIf="signupForm.controls['aadharNumber'].invalid && (signupForm.controls['aadharNumber'].dirty || signupForm.controls['aadharNumber'].touched)" class="error"> -->
        <div *ngIf ="signupForm.controls['aadharNumber'].errors?.['required']">Aadhar Number is required.</div>
        <div *ngIf= "signupForm.controls['aadharNumber'].errors?.['pattern']">Aadhar Number must be 12 digits.</div>
      </div>
    </div>
 <br>

    <div class="form-group">
      <label for="panNumber">PAN Number</label>
      <input type="text" class="form-control" id="panNumber" name="panNumber" ngModel required pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" #panNumber="ngModel">
      <div *ngIf= "panNumber.invalid && (panNumber.dirty || panNumber.touched)" >
      <!-- <div *ngIf="signupForm.controls['panNumber'].invalid && (signupForm.controls['panNumber'].dirty || signupForm.controls['panNumber'].touched)" class="error"> -->
        <div *ngIf= "signupForm.controls['panNumber'].errors?.['required']">PAN Number is required.</div>
        <div *ngIf= "signupForm.controls['panNumber'].errors?.['pattern']">Invalid PAN Number format.</div>
      </div>
    </div>
 <br>

    <!-- Submit button -->
    <div class="form-group">
      <button  class="btn btn-success" type= "submit" (click)="onSubmit(signupForm)" [disabled]="signupForm.invalid"> Create Profile</button> 
      <span style="margin-left: 10px;"></span>
      <button class="btn btn-danger" type="button" (click)="cancel()"> Cancel </button>
    </div>

  </form>
</div>
