<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">Features</a> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/accountlist">List of Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customerlist">List of Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/withdraw">Withdraw Amount</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/deposit">Deposit Amount</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/createcustomer">Create Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/createaccount">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fundtransfer">Fund Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
