<nav class="navbar navbar-expand-lg navbar-custom ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <a class="navbar-brand" href="#"></a>
        <div class="navbar-nav">
            <button class="nav-link" (click)="accountlist()">List of Accounts </button> 
             <button class="nav-link" (click)="customerlist()">List of Customers </button> 
             <button class="nav-link" (click)="withdrawal()">Withdraw Amount</button>
             <button class="nav-link" (click)="deposit()">Deposit Amount</button>
            <button class="nav-link" (click)="createcustomer()">Create Customer</button> 
             <button class="nav-link" (click)="createaccount()">Create Account</button>
            <button class="nav-link" (click)="fundtransfer()">Fund Transfer</button>
            <button class="nav-link" (click)="logout()">Logout</button>
        </div>
    </div>
  </nav> 