<head>
    <title>Bank Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
<body>
    <div class="hero">
        <h1>WELCOME</h1><h1>TO</h1><h1>EVERCREST BANK</h1>
       <!-- <h2>Invest in your dreams, Bank with US</h2> -->
        <!-- <div  id="container">
            <img id="bankpic" src="../assets/bankpic.jpg" alt="bank pic">
          </div> --> 
        <i class="fas fa-handshake"></i>
       <br><br>
    
        <h4> Your financial friend is now serving your thoughts!! <Br>
        Explore our range of banking services and start managing your finances today with us !!</h4>
     
      <div class="achievements">
        <div class="work">
          <i class="fas fa-users"></i>
           <a routerLink="/customerlogin">Customer Login</a> 
        </div>
    
        <div class="work">
          <i class="fas fa-user-tie"></i>
          <a routerLink="/managerlogin">Manager Login</a> 
        </div>
    
        <div class="work">
          <i class="fas fa-user"></i>
          <!-- <button>Employee Login</button> -->
          <a routerLink="/employeelogin">Employee Login</a> 
          </div>
      </div>
    </div>
</body>
