<app-customernavbar></app-customernavbar>
<div class="container mt-4">
<div class="row justify-content-center">
<div class="col-md-5">
<div class="card bg-light mb-10" >
    <h5 class="card-header bg-primary text-white">My Banking Details</h5>
    <div class="card">
        <table class="table">
          <tbody>
            <tr>
              <td scope="row">Customer Name :</td>
              <!-- <td>{{ accountDetails.customerName }}</td> -->
            </tr>
            <tr>
              <td scope="row">Account Number :</td>
              <!-- <td>{{ accountDetails.accountNumber }}</td> -->
            </tr>
            <tr>
              <td scope="row">Account Type :</td>
              <!-- <td>{{ accountDetails.accountType }}</td> -->
            </tr>
            <tr>
              <td scope="row">Account Balance :</td>
              <!-- <td>{{ accountDetails.accountBalance }}</td> -->
            </tr>
            <tr>
              <td scope="row">Status :</td>
              <!-- <td>{{ accountDetails.status }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 

